<% pic = el['images'].first %>
<% url = pic['source'] %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="panel panel-default photo">
    <div class="panel-body">
      <%= image_tag url, class: 'img-responsive img-rounded' %>
    </div>
  </div>
</div>
